body{
   background-color:  rgb(117, 137, 131);
}
nav{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
h1{

    width: 180px;
    cursor: pointer;
    color: rgb(101, 30, 25);
    padding-left: 15px;
    margin-top: 0;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
footer {
    /* clear: both;
    position: relative; */
    height: 200px;
    margin-top: 38%;
}
